PLACEMENT-MANAGEMENT-SYSTEM/src/Workflows/n8n_forget_password_workflow.json
{
  "name": "Forget Password and Reset Password Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forget-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7a3b3fd8-bc6b-4e89-9e8c-85a22bb071e6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@campusconnect.com",
        "toEmail": "={{ $('Webhook Trigger').item.json.body.email }}",
        "subject": "CampusConnect - Reset Password Verification Code",
        "text": "=Hello,\n\nYour 6-digit password reset verification code is: {{ $json.body.code }}\n\nThis code is valid for 10 minutes.\n\nIf you did not request this, please ignore this email.\n\nBest regards,\nCampusConnect Team",
        "options": {}
      },
      "id": "e89d1b7b-23ac-4b35-8ea5-0558bbbe1a7b",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        320,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "placeholder-smtp-credentials-id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Verification email sent successfully\"\n}",
        "options": {}
      },
      "id": "f5b6b7a9-9e1e-450a-9d62-7bb3968ad7ea",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-password",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "25b64cfa-238d-4a11-8e0c-84332abef7b2",
      "name": "Webhook Update Password",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "action": "hash",
        "type": "sha256",
        "value": "={{ $json.body.newPassword }}",
        "dataPropertyName": "hashedPassword"
      },
      "id": "85c74dfb-3c4a-4d7a-8f1d-28945dcbef43",
      "name": "Hash Password",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        320,
        500
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Webhook Update Password').item.json.body.role == 'student' ? 'UPDATE STUDENT SET password = \\'' + $json.hashedPassword + '\\' WHERE email = \\'' + $('Webhook Update Password').item.json.body.email + '\\';' : ($('Webhook Update Password').item.json.body.role == 'company' ? 'UPDATE BASIC_DETAILS SET password = \\'' + $json.hashedPassword + '\\' WHERE COMPANY_ID = (SELECT COMPANY_ID FROM COMPANY_CONTACT_DETAILS WHERE companyEmail = \\'' + $('Webhook Update Password').item.json.body.email + '\\');' : 'UPDATE ADMIN_PROFILE SET password = \\'' + $json.hashedPassword + '\\' WHERE email = \\'' + $('Webhook Update Password').item.json.body.email + '\\';') }}"
      },
      "id": "96d85efc-4d5b-4e8b-902e-39056ecdef54",
      "name": "MySQL UPDATE",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        540,
        500
      ],
      "credentials": {
        "mySql": {
          "id": "placeholder-mysql-credentials-id",
          "name": "MySQL Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Password updated successfully\"\n}",
        "options": {}
      },
      "id": "a7e96ffd-5e6c-4f9c-a13f-40167fdef665",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Update Password": {
      "main": [
        [
          {
            "node": "Hash Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Password": {
      "main": [
        [
          {
            "node": "MySQL UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL UPDATE": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {}
}
