PLACEMENT-MANAGEMENT-SYSTEM/src/Workflows/Placement System AI Mock Interview Workflow.json
{
  "name": "Placement System AI Mock Interview Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mock-interview",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -464,
        112
      ],
      "id": "079dbe17-cb57-4137-a279-24058302d5a8",
      "name": "Webhook Trigger",
      "webhookId": "6a4a5487-b991-42e6-ab69-ad1a1622a225"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "generate"
            },
            {
              "value2": "evaluate"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -240,
        112
      ],
      "id": "6539b2c9-7bff-4342-9d88-fc999b5e849c",
      "name": "Switch Action"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "={{ 'Generate ' + $json.body.numQuestions + ' mock interview questions for a ' + $json.body.jobRole + ' position. The difficulty level should be ' + $json.body.difficulty + '. Output only a JSON array of strings containing the questions, like: [\"Question 1\", \"Question 2\"]. Do not include any markdown formatting, backticks, or explanation.' }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3c7d252f-9496-4f64-82cd-8976fc5f7100",
      "name": "AI Generate Questions",
      "credentials": {
        "openAiApi": {
          "id": "eG9Yy2LGEMSlSakY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "={{ 'Evaluate the following student answers for a mock interview for the job role: ' + $json.body.jobRole + ', difficulty: ' + $json.body.difficulty + '.\\n\\nQuestions and Answers:\\n' + JSON.stringify($json.body.qaList) + '\\n\\nEvaluate each question individually on a scale of 0 to 10 and provide feedback for each. Then calculate an overall percentage score (0-100) and overall feedback.\\n\\nYou MUST output ONLY a valid JSON object matching this structure EXACTLY (do not wrap in markdown or backticks, just raw JSON):\\n{\\n  \"score\": 85,\\n  \"feedback\": \"overall feedback text\",\\n  \"evaluations\": [\\n    {\\n      \"id\": 12,\\n      \"score\": 8,\\n      \"feedback\": \"individual question feedback\"\\n    }\\n  ]\\n}' }}",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "34f9af2c-03d2-441d-88f1-db8531a3ac86",
      "name": "AI Evaluate Answers",
      "credentials": {
        "openAiApi": {
          "id": "eG9Yy2LGEMSlSakY",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "id": "12b83e86-c5af-4f0b-ac6d-6ee7360ef65c",
      "name": "Respond Generate"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "b177814c-5633-4022-98d7-1d80408f0f30",
      "name": "Respond Evaluate"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "AI Generate Questions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Evaluate Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Questions": {
      "main": [
        [
          {
            "node": "Respond Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Evaluate Answers": {
      "main": [
        [
          {
            "node": "Respond Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9e28f1e7-ad51-44b4-98b1-8ed2763f7cfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4e2f7975557a5ddd11af4d3b47dd7e1e612dcf7d60795a71c1a5221c0d15057"
  },
  "id": "DtQTotKq3n75pBwG",
  "tags": []
}